extends layout

block content
  p Account creation

  form(action="/create-account/", method="post")
    label(for='email') Email
      input(type='text' id='email' placeholder='email' name='email')
    label(for='password') Password
      input(type='password' id='password' placeholder='password' name='password')
    input(type='submit', name='submit')
