extends layout

block content
  h1= title
  p Welcome to #{title}

  if req.user
    p You are logged as #{req.user.email}.
    a(href='/logout/') Logout
  else
    div
      a(href='/login/') Login
    div
      a(href='/create-account/') Create an account
