doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/semantic/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.ui.inverted.menu
      a.header.item(href="/", class="#{ activeMenu === 'index' ? 'active' : '' }") Will You Escape
      a.item(href="/rooms", class="#{ activeMenu === 'rooms' ? 'active' : '' }") Rooms
    block content
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="/semantic/semantic.min.js")
