doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/semantic/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.ui.inverted.menu
      div.header.item Will You Escape
      a.item Rooms
    block content
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="/semantic/semantic.min.js")
